node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
deploy.zip
errors.txt
query
localhost,
votre_base,
votre_mot_de_passe,
votre_user,
server/uploads/products/*
!server/uploads/products/.gitkeep
server/uploads/chat/*
!server/uploads/chat/.gitkeep
