RewriteEngine On

# Allow direct access to backend
RewriteCond %{REQUEST_URI} ^/backend/ [NC]
RewriteRule ^ - [L]

# Frontend SPA fallback
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]
