APP_ENV=production
DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_PORT=3306

PAYMENT_PROVIDER=mtn_momo
PAYMENT_CURRENCY=XOF

MTN_MOMO_API_URL=
MTN_MOMO_SUBSCRIPTION_KEY=
MTN_MOMO_API_USER=
MTN_MOMO_API_KEY=
MTN_MOMO_TARGET_ENVIRONMENT=sandbox
MTN_MOMO_CALLBACK_SECRET=

MOOV_MONEY_API_URL=
MOOV_MONEY_API_KEY=
MOOV_MONEY_CALLBACK_SECRET=

MAPS_PROVIDER=osrm
MAPS_API_URL=
MAPS_API_KEY=

SMS_PROVIDER=
SMS_API_URL=
SMS_API_KEY=
SMS_SENDER_ID=LIVRIKO

PUBLIC_BASE_URL=https://www.votre-domaine.com
WEBHOOK_BASE_URL=https://www.votre-domaine.com
HEALTHCHECK_TOKEN=
